.header {
  background-color: #b8b8b8;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0 15%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px
}

.header-logo {
  height: 35px;
  width: 35px;
  /* display inlilne  doesnt give desired overlay effect - rm? */
  display: inline;
}