.sidebar, .sidebar ul {
  list-style-type: none;
  padding: 0 0 0 20px;
}

.sidebar > li {
  padding: 2px;
  border-bottom: 1px solid black;
}

.sidebar {
  font-size: 1.2em;
}

.sidebar li {
  margin: 10px 0;
}

.nested li{
  margin: 5px;
  border-bottom: 1px dotted black;
}
.nested li:last-child {
  border: none;
}

.caret::before {
  content: "\25B6";
  margin-left: -10px;
}
.caret:hover {
  cursor: pointer;
}
/*  BUG this doesn't work, but why not?  */
.caret-down::before {
  transform: rotate(90deg);
}

.nav-button {
  cursor: pointer;
  color: blue;
}